.FlexDiv {
  display: flex;
}

.Description {
  margin: 5%;
  font-size: medium;
}

.Description__Mobile {
  margin: 30px;
  font-size: small;
}
.Thumb--Gallery {
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 5px;
}

.Thumb--Gallery__Mobile {
  margin: 20px;
  border-radius: 5px;
}

.Gallery--Button {
  margin: 30px;
  width: 50%;
  padding-top: 0;
  text-align: center;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.12));
}

.Gallery--Button__Mobile {
  margin: 30px;
  width: auto;
  padding-top: 0;
  text-align: center;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.12));
}
#ForceTransition {
  transition: all 0.5s
}

.Gallery--Button:hover {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.378), rgba(255, 255, 255, 0.251));
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.5s;
}

.Title--Bar {
  width: 100%;
  background-color: #204396;
  border-radius: 5px;
  margin-top: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
}

