.zoomHover {
  transition: all 0.5s;
  opacity: 1;
  z-index: 9;
    position: relative;
    max-width: 100%;
      display: block;
}

.zoomHover:hover {
  /* transform: scale(1.03); */
    cursor: pointer;
    opacity: 0;
  }
  
  .lbDiv {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-color: black;
    margin: 12px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
    padding: 0px;
    transition: all 0.5s;
  }
  
  .lbDiv:hover {
  transform: scale(1.03);
}

.backImg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: scale-down;
  z-index: 1;
  margin-bottom: 30px;
}