.zoomHover {
  transition: all 0.5s;
  opacity: 1;
    /* -webkit-mask-image: radial-gradient(ellipse 80% 80% at 50% 50%, black 30%, transparent 90%);
    mask-image: radial-gradient(ellipse 80% 80% at 50% 50%, black 30%, transparent 90%); */
}

.zoomHover:hover {
  transform: scale(1.03);
  cursor: pointer;
  opacity: 0.85;
  /* mask-image: none; */
}